@font-face {
  font-family: "Sunny Spells";
  src: url("/fonts/SunnySpells-Regular.woff2") format("woff2"),
    url("/fonts/SunnySpells-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mouldy Cheese";
  src: url("/fonts/MouldyCheese-Regular.woff2") format("woff2"),
    url("/fonts/MouldyCheese-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
