$base-blue: #bccce7;
$base-green: #dce6d1;

$base-black: #000;
$base-white: #fdfdfd;

$base-light-blue: #e7eaf0;

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
